*{
    margin: 8px;
}
.fontFamily{
    font-family: "Lexend", sans-serif;
}
.backdrop-blur-custom {
    backdrop-filter: blur(10px);
}
.background{
    background-color: #B4F461;
}
.history-style{
    border: 2px solid gray;
    padding:20px;
    margin: 10px;
    background-color: aqua;
}